.case_content {}
.case_content table {
	word-break: break-all;
	width: auto;
	min-width: 30%;
	max-width: 95%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
	table-layout: fixed;
	display: table;
	border: 1px solid #a0a0a0;
}
.case_content th{border: 1px solid #a0a0a0; background-color:#f0f0f0;}
.case_content td{border: 1px solid #a0a0a0;}

.case_btn_toporder {z-index:1px};
